<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Snake Game</title>

        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <canvas id="gameCanvas" width="300" height="300"></canvas>

        <div class="Score">
            <h1 id="current">Score: <span>0</span></h1>
            <h1 id="all-time">All time score: <span>0</span></h1>
        </div>

        <div class="Keybinds">
            <h1>Keybinds:</h1>
            <h2>W - Up</h2>
            <h2>A - Left</h2>
            <h2>S - Down</h2>
            <h2>D - Right</h2>
        </div>

        <script src="/javascript/index.js" type="module"></script>
    </body>
</html>